.loading-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px; /* Increase width */
  padding: 4px 8px; /* Decrease the height by reducing padding */
  background-color: "blue.100"; /* Optional: Change background color if needed */
  border-radius: 5px;
}

.loading-dots span {
  font-size: 24px;
  animation: blink 1.5s infinite;
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.3s;
}

.loading-dots span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes blink {
  0%, 20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
